

#formid{
    text-align: center;
    margin-top: 8%;
    font-family: sans-serif;
}
input{
     background-color: #eee;
     border: none;
     padding: 1rem;
     font-size: 1rem;
     width: 13em;
     border-radius: 1rem;
     color: lightcoral;
     box-shadow: 0 0.4rem #dfd9d9;
     cursor: pointer;
}

button {
    margin: 25px 0 10px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #7cc3f3;
    box-shadow: #f7f8a80d 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 8px #888888; 
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
button:disabled{
    cursor: not-allowed;
}